<div class="flex items-center justify-center h-full flex-col">
    <div class="flex flex-col w-full px-10 sm:w-[80%] md:w-[60%] xl:w-[50%] gap-2">
        <label for="password">Contraseña</label>
        <mat-form-field appearance="outline" class="w-full">
            <input matInput id="password" name="password" type="password" [formControl]="password"
                (blur)="updateErrorMessage()">

            @if (password.invalid) {
            <mat-error>{{errorMessage()}}</mat-error>
            }
        </mat-form-field>

        <button mat-flat-button [disabled]="password.invalid" [disableRipple]="false"
            (click)="submit()" class="btn-submit">Continuar</button>
    </div>
</div>