<div class="flex items-center justify-center h-full flex-col">
    <div class="flex flex-col w-full px-10 sm:w-[80%] md:w-[60%] xl:w-[50%] gap-2">
        <label for="password">Contraseña</label>
        <mat-form-field appearance="outline" class="w-full">
            <input matInput id="password" name="password" type="password" [formControl]="password"
                (blur)="updateErrorMessage()">

            @if ((errorMessage | async) !== '') {
            <span class="text-xs text-red-600 absolute bottom-[-20px] left-[-15px]">{{errorMessage | async}}</span>
            }
        </mat-form-field>

        <button mat-flat-button [disabled]="password.invalid" [disableRipple]="false" (click)="submit()"
            class="btn-submit">Continuar</button>
    </div>
</div>