<!-- <h2 mat-dialog-title></h2> -->
<div class="absolute top-4 right-4">
    <mat-icon (click)="closeModal()" class="text-blue-500">close</mat-icon>
</div>
<mat-dialog-content class="flex flex-col mat-typography">
    <div class="flex justify-end flex-col min-h-[300px] bg-blue-200 p-4">
        <p class="text-xl" style="margin-bottom: 0.25rem !important;">{{provider.nombre}}</p>
        <span class="text-sm">{{provider.servicio}} - {{provider.detalle_servicio}}</span>
    </div>
    <div class="flex flex-col gap-2 p-4">
        <div class="details-block" *ngIf="provider.detalles">
            <mat-icon>textsms</mat-icon>
            <div class="content">
                <div>Detalles</div>
                <div class="text-xs">{{provider.detalles}}</div>
            </div>
        </div>
        <div class="details-block">
            <mat-icon>place</mat-icon>
            <div class="content">
                <div>Local</div>
                <div class="text-xs">#{{provider.local}}</div>
            </div>
        </div>
        <div class="details-block">
            <mat-icon>phone</mat-icon>
            <div class="content">
                <div>Teléfono</div>
                <div class="text-xs">
                    <a href="tel://{{provider.telefono}}">
                        {{provider.telefono}}
                    </a>
                </div>
            </div>
        </div>
        <div class="details-block" *ngIf="provider.email">
            <mat-icon>email</mat-icon>
            <div class="content">
                <div>Correo electrónico</div>
                <div class="text-xs">
                    <a href="mailto://{{provider.email}}">
                        {{provider.email}}
                    </a>
                </div>
            </div>
        </div>
        <div class="details-block" *ngIf="provider.website">
            <mat-icon>public</mat-icon>
            <div class="content">
                <div>Sitio web</div>
                <div class="text-xs">
                    <a [href]="getUrl(provider.website)" target="_blank">
                        {{provider.website}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>