/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'ngx-toastr/toastr';

html,
body {
    height: 100%;
    min-width: 340px;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-modal {
    .mat-mdc-dialog-surface {
        @apply rounded-lg;
    }

    .mat-mdc-dialog-content {
        padding: 0 !important;
        margin: 0 !important;

        max-height: 100%;
    }
}

.error-snackbar {
    &.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
        @apply bg-red-400;
    }
}